<h2>Your Personal Details</h2>
<p>First Name: {{ user_details.firstname }}</p>
<p>Last Name: {{ user_details.lastname }}</p>
<p>Date of Birth: {{ user_details.dob }}</p>
<p>Current Injuries: {{ user_details.current_injuries }}</p>
<p>Workout Preferences: {{ user_details.workout_preferences }}</p>
<p>Preferred Location: {{ user_details.preferred_location }}</p>
<p>Workouts Per Week: {{ user_details.workouts_per_week }}</p>
<p>Preferred Workout Time: {{ user_details.preferred_workout_time }}</p>
<p>Fitness Goals: {{ user_details.fitness_goals }}</p>
<p>Specific Muscle Groups: {{ user_details.specific_muscle_groups }}</p>
<p>Cardio Preferences: {{ user_details.cardio_preferences }}</p>
<p>Recovery and Rest: {{ user_details.recovery_and_rest }}</p>
<button hx-get="{% url 'update_personal_details' %}" 
        hx-target="#personal-details-container" 
        hx-swap="innerHTML" 
        class="btn btn-warning mt-3">Update Personal Details</button>
