{% load static %}
{% load widget_tweaks %}
<div id="personal-details-container">
    <h1>Update Personal Details</h1>
    <form method="POST" enctype="multipart/form-data" id="update-details-form" 
          hx-post="{% url 'update_personal_details' %}" 
          hx-target="#personal-details-container" 
          hx-swap="innerHTML" 
          novalidate>
        {% csrf_token %}
        <div class="row">
            <!-- Left Column -->
            <div class="col-12 col-md-6 pr-3">
                {% for field in personal_details_form %}
                    {% if field.name == "preferred_workout_time" %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            {% if field.field.widget.input_type == "select" %}
                                {{ field|add_class:"form-control" }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Right Column -->
                    <div class="col-12 col-md-6">
                    {% else %}
                        <div class="form-group mb-3">
                            {{ field.label_tag }}
                            {% if field.field.widget.input_type == "checkbox" %}
                                <div class="form-check">
                                    <div class="checkbox-container faint-white-box" 
                                         style="max-height: 300px; overflow-y: auto; text-align: left;">
                                        {% for widget in field %}
                                            <div class="form-check">
                                                {{ widget.tag }} {{ widget.choice_label }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% elif field.field.widget.input_type == "select" %}
                                {% if field.field.widget.attrs.multiple %}
                                    <select class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" multiple size="10">
                                        {% for option in field %}
                                            <option value="{{ option.value }}" {% if option.selected %}selected{% endif %}>
                                                {{ option.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="container text-center">
            <button type="submit" class="btn btn-warning mt-3 btn-block">Update</button>
            <!-- Cancel Button -->
            <button type="button" 
                    hx-get="{% url 'personal_details' %}"
                    hx-target="#personal-details-container" 
                    hx-swap="innerHTML" 
                    class="btn btn-secondary mt-3">
                Cancel
            </button>
        </div>
    </form>
</div>
