{% extends "base.html" %}
{% load static %}  <!-- Ensure this is loaded -->
{% load widget_tweaks %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center" 
    style="
        background-image:  url('{% static 'images/Fitness.jpg' %}'); 
        background-size: cover; 
        background-position: center; 
        min-height: 100vh; 
        text-align: center; 
        color: white;">
    <h1 style="font-family: 'Anton', sans-serif; font-size: 100px; color: white;">CHAD PT</h1>
    <h3 style="font-family: Arial, sans-serif; color: white;">Your AI Personal Trainer</h3>
    <button class="btn btn-warning mt-3" style="font-size: 20px;" onclick="scrollToNextDiv(this)">Meet Chad</button>
</div>

<div class="d-flex flex-column align-items-center justify-content-center" 
    style="background-color: black; 
           background-size: cover; 
           background-position: center; 
           min-height: 100vh; 
           text-align: center; 
           color: black; 
           overflow: auto;">
    <div class="container custom-margin">
        <div class="row align-items-center">
            <!-- Image (left on desktop, top on mobile) -->
            <div class="col-12 col-md-6">
                <img src="{% static 'images/Fitness.jpg' %}" alt="Image" class="img-fluid" style="margin-top: 20px; margin-bottom: 10px;">  <!-- Added margin-top here -->
                <br>
                <em>{{ selected_quote.quote }}</em>
                <br>
                {% if selected_quote.author %}
                    <footer class="blockquote-footer">{{ selected_quote.author }}</footer>
                {% endif %}
            </div>
            
            <!-- Text content (right on desktop, bottom on mobile) -->
            <div class="col-12 col-md-6">
                <h1 style="font-family: 'Anton', sans-serif; font-size: 100px; color: #f9ef23; margin-top: 20px;">Hi I'm Chad!</h1>
                <hr>
                <p>I'm here to create a workout plan that's 100% tailored to you. Just share your fitness goals, 
                    workout preferences, and what equipment you've got available, and I'll put together a personalized 
                    program that adapts as you progress. I'll track your results, adjust your routines, and keep you 
                    motivated every step of the way. No more guesswork—let's make the most of your time and space. 
                    Ready to crush your fitness goals? Let’s get started!
                </p>
                <a class="btn btn-warning mt-3" style="font-size: 20px;" href="{% url 'signup' %}">Sign Up</a>
            </div>
        </div>
    </div>
</div>


<div class="d-flex flex-column align-items-center justify-content-center"; id="next-workout"; 
    style="background-image:  url('{% static 'images/Fitness.jpg' %}');
           background-size: cover; 
           background-position: center; 
           min-height: 100vh; 
           text-align: center; 
           color: black; 
           overflow: auto;
           text-align: left;">

        <h1 style="padding-top: 50px;">Next Workout</h1>

        <div class="faint-white-box mt-4">
        <div class="workout-container">
            <!-- Display Next Workout -->
            {% if next_workout %}
                <h3>{{ next_workout.name }}</h3>
                <hr>
                <p><strong>Goal:</strong> {{ next_workout.goal }}</p>
                <hr>
                {% comment %} <p><strong>Considerations:</strong> {{ next_workout.considerations }}</p>
                <p><strong>Explanation:</strong> {{ next_workout.explanation }}</p> {% endcomment %}
                <p><strong>Description:</strong> {{ next_workout.description }}</p>
                <hr>
                <p><strong>Workout Type:</strong> {{ next_workout.workout_type }}</p>
                <hr>
                <p><strong>Muscle Groups:</strong> {{ next_workout.muscle_groups|join:", " }}</p>
                <hr>
        
                <!-- Display Warm Up -->
                <h3>Warm-Up</h3>
                <p>{{ next_workout.warm_up.description }}</p>
                <hr>
                <!-- Display Exercises -->
                <h3>Exercises</h3>
                {% comment %} <div class='col-8'/> {% endcomment %}
                {% for ex in next_workout_exercises %}
                    <p><strong>{{ ex.name }}</strong> - Sets: {{ ex.sets }}, Reps: {{ ex.reps }}</p>
                    {% if ex.recommended_weight %}
                        <p>Recommended Weight: {{ ex.recommended_weight }}</p>
                    {% endif %}
                        <em>{{ ex.description }}</em>
                    {% comment %} </div> {% endcomment %}
                        <hr>
                {% endfor %}

                <h3>Cool-Down</h3>
                <p>{{ next_workout.cool_down.description }}</p>
            </div>
            

            {% else %}
                <p>No upcoming workout scheduled.</p>
            {% endif %}

    </div>
    <div class="container pb-5">
        <div class="row align-items-center">
            <div class="col-6 d-flex justify-content-center">
                <button class="btn btn-warning mt-3 btn-block" style="font-size: 20px;" onclick="scrollToNextDiv(this)">Past Workouts</button>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <button class="btn btn-warning mt-3 btn-block" style="font-size: 20px;" onclick="scrollToNextDiv(this)">More Upcomming Workouts</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="d-flex flex-column align-items-center justify-content-center"; id="create-workout"; 
    style="background-color: black; 
           background-size: cover; 
           background-position: center; 
           min-height: 100vh; 
           text-align: center; 
           color: black; 
           overflow: auto;">
           
    <div class="container mt-4">
        <div class="container custom-margin">
            <div class="row align-items-center">
                <!-- Image (left on desktop, top on mobile) -->
                <div class="col-12 col-md-6">
                    <h1 class="mb-4">{{ form_title }}</h1>
                    <img src="{% static 'images/Fitness.jpg' %}" alt="Image" class="img-fluid" style="margin-top: 20px; margin-bottom: 10px;">  <!-- Added margin-top here -->
                    <br>
                    <em>{{ selected_quote.quote }}</em>
                    <br>
                    {% if selected_quote.author %}
                        <footer class="blockquote-footer">{{ selected_quote.author }}</footer>
                    {% endif %}
                </div>
                
                <!-- Text content (right on desktop, bottom on mobile) -->
                <div class="col-12 col-md-6">
                    
                    <form method="POST" enctype="multipart/form-data" id="{{ form_id }}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        
                        {% for field in form %}
                            <div class="form-group mb-3">
                                {{ field.label_tag }}
                                
                                {% if field.field.widget.input_type == "checkbox" %}
                                    <!-- Custom checkbox layout with scrollable container -->
                                    <div class="form-check">
                                        <div class="checkbox-container" style="max-height: 300px; overflow-y: auto;">
                                            {% for widget in field %}
                                                <div class="form-check">
                                                    {{ widget.tag }} {{ widget.choice_label }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% elif field.field.widget.input_type == "select" %}
                                    {% if field.field.widget.attrs.multiple %}
                                        <!-- Multi-select dropdown with scrollable options -->
                                        <select class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" multiple size="10">
                                            {% for option in field %}
                                                <option value="{{ option.value }}" {% if option.selected %}selected{% endif %}>
                                                    {{ option.label }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {{ field|add_class:"form-control" }}
                                    {% endif %}
                                {% else %}
                                    {{ field|add_class:"form-control" }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <br>                
                        <button type="submit" class="btn btn-warning mt-3 btn-block" style="font-size: 20px;">Let's go!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div class="mb-5">


<div class="d-flex flex-column align-items-center justify-content-center pt-5 pb-5" id="personal-details"
     style="background-image: url('{% static 'images/Fitness.jpg' %}'); 
            background-size: cover; 
            background-position: center; 
            min-height: 100vh; 
            text-align: center; 
            color: black; 
            overflow: auto;">
    <div class="faint-white-box">
        <div id="personal-details-container">
            <!-- Display Personal Details -->
            <h2>Your Personal Details</h2>
            <p>First Name: {{ user_details.firstname }}</p>
            <p>Last Name: {{ user_details.lastname }}</p>
            <p>Date of Birth: {{ user_details.dob }}</p>
            <p>Current Injuries: {{ user_details.current_injuries }}</p>
            <p>Workout Preferences: {{ user_details.workout_preferences }}</p>
            <p>Preferred Location: {{ user_details.preferred_location }}</p>
            <p>Workouts Per Week: {{ user_details.workouts_per_week }}</p>
            <p>Preferred Workout Time: {{ user_details.preferred_workout_time }}</p>
            <p>Fitness Goals: {{ user_details.fitness_goals }}</p>
            <p>Specific Muscle Groups: {{ user_details.specific_muscle_groups }}</p>
            <p>Cardio Preferences: {{ user_details.cardio_preferences }}</p>
            <p>Recovery and Rest: {{ user_details.recovery_and_rest }}</p>
            <button hx-get="{% url 'update_personal_details' %}" 
                    hx-target="#personal-details-container" 
                    hx-swap="innerHTML" 
                    class="btn btn-warning mt-3">Update Personal Details</button>
        </div>
    </div>
</div>



{% endblock %}
