{% extends "base.html" %}
{% block content %}


<div class="d-flex flex-column align-items-center justify-content-center mt-5 pt-5" 
    style="background-color: black; 
           text-align: left; 
           color: black;">
    <div class="container mt-4">
        <div class="container custom-margin">
            <h1 class="pb-3 text-center">Upcoming Workouts</h1>
            <div class="row align-items-center">
                
                    {% for workout in workouts_data %}
                        <div class="yellow-outline-box container mt-4">
                        {% comment %} <div class="workout-card" id="workout-{{ workout.id }}"> {% endcomment %}
                            <h3 class="pb-3">{{ workout.name }}</h3>
                            <button class="btn btn-warning mt-3 btn-block" style="font-size: 20px;"
                            hx-post="{% url 'replace_workout' workout.id %}" 
                            hx-target="#workout-{{ workout.id }}" 
                            hx-swap="outerHTML">
                                Change Workout
                            </button>
                            <p class="pt-3"><strong>Goal:</strong> {{ workout.goal }}</p>
                            <p><strong>Date:</strong> {{ workout.date }}</p>
                            <p><strong>Description:</strong> {{ workout.description }}</p>
                            <p><strong>Warm-Up:</strong> {{ workout.warm_up }}</p>
                            <h4>Workout</h4>
                            {% for exercise in workout.exercises %}
                                {% comment %} <li id="exercise-{{ exercise.id }}"> {% endcomment %}
                                    <p><strong>{{ exercise.name }}</strong> - Sets: {{ exercise.sets }}, Reps: {{ exercise.reps }}<p>
                                    {% if exercise.recommended_weight %}
                                        <p>Recommended Weight: {{ exercise.recommended_weight }}</p>
                                    {% endif %}
                                    <em>{{ exercise.description }}</em>
                                {% comment %} </li> {% endcomment %}
                                <hr>
                            {% endfor %}
                            <p><strong>Cool-Down:</strong> {{ workout.cool_down }}</p>
                            <hr>
                            <br>
                        </div>
                    {% endfor %}
                <br>
            </div>
        </div>
    </div>
</div>
{% comment %} </div> {% endcomment %}

{% endblock %}